<main>
  <div class="container">
    <div class="title d-flex justify-content-center">
      <h4 class="mt-5">Select The Best Page!</h4>
    </div>
    <div class="d-flex align-items-center calculator">
      <button class="btn" routerLink="/calculator">
        <h1 class="bi bi-calculator"></h1>
      </button>
      <div>
        <span class="fw-bolder" routerLink="/calculator">Calculator Page</span>
      </div>
      <button class="btn shopping-list" routerLink="/shooping-list">
        <h1 class="bi bi-cart4"></h1>
      </button>
      <div>
        <span class="fw-bolder" routerLink="/shooping-list">Shopping List Page</span>
      </div>
    </div>
  </div>
</main>
